* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: orange;
    font-family: Arial, sans-serif; /* Adding a fallback font */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    background-image: url(suraj.jpg);
    height: 300px;
    width: 300px;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    top: 145px;
}

.text-area {
    background-color: white;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    max-width: 800px;
    text-align: center;
    border-radius: 10px;
}

.cont1 {
    font-size: 3rem;
    margin-top: 150px;
}

.name {
    margin-bottom: 20px;
}

.cont3 {
    font-size: 1.5rem;
    margin-top:100px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ceb318;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

/* Media queries for responsiveness */

/* For screens smaller than 600px */
@media only screen and (max-width: 600px) {
    .image {
        height: 200px;
        width: 200px;
        top: 100px;
    }

    .cont1 {
        font-size: 2rem;
        margin-top: 100px;
    }

    .cont3 {
        font-size: 1.2rem;
        margin-top: 50px;
    }
}

/* For screens between 600px and 1024px */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .text-area {
        max-width: 600px;
    }
}
